* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-base);
}

.formLoginDiv1 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.formLoginInitial {
  padding: 0 0 1.5rem;
}

.divImg {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

.formLoginDiv2 {
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.formLogin {
  background-color: var(--form-background);
  width: 35.75rem;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
  text-align: left;
  display: flex;
  height: 30rem;
}

.formLogin b {
  font-size: 24px;
  color: var(--text-button);
}

.entrar {
  width: 20rem;
  height: 3.1875rem;
  background-color: var(--primary-color);
  color: var(--background);
  border-radius: 7px;
  font-family: "Roboto";
  font-weight: bold;
}

.formLogin a {
  color: var(--primary-color);
}

.input1 {
  background-color: var(--form-background);
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--text-base);
  text-align: start;
  width: 20rem;
  font-family: "Roboto";
  font-weight: bold;
  height: 2.75rem;
  font-size: 14px;
  color: var(--text-base);
  padding: 0 2.7rem 0;
  border: none;
}

.input2 {
  background-color: var(--form-background);
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--text-base);
  text-align: start;
  width: 20rem;
  font-family: "Roboto";
  font-weight: bold;
  height: 2.75rem;
  font-size: 14px;
  color: var(--text-base);
  padding: 0 2.7rem 0;
  border: none;
}

.divSenha {
  padding: 0 0 1rem;
  font-family: "Poppins";
  font-weight: medium;
  position: relative;
}

.divEmail {
  padding: 0 0 1rem;
  font-family: "Poppins";
  font-weight: medium;
  position: relative;
}

.envelope {
  width: 14%;
  position: absolute;
  height: 41%;
  padding-top: 9px;
}

.cadeado {
  width: 14%;
  position: absolute;
  height: 41%;
  padding-top: 9px;
}

.olho {
  position: absolute;
  align-items: center;
  height: 41%;
  padding-top: 9px;
}

.esqueci {
  display: flex;
  padding: 0 0 12px;
  gap: 0.5rem;
  position: relative;
  align-items: center;
}

.checkboxLembrar {
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  -webkit-appearance: none;
}

.checkboxLembrar:checked {
  background-image: url("../assets/check.svg");
  background-size: cover;
  background-position: center;
}

.esqueci a {
  padding-left: 21px;
}

.esqueci button {
  background: none;
  border-color: var(--text-base);
  border-radius: 4px;
  width: 1.25rem;
  height: 1.25rem;
}

.lembrar {
  margin-bottom: 2px;
  display: flex;
}

.iconSign {
  color: var(--primary-color);
  font-size: 1.5rem;
  align-items: center;
  vertical-align: sub;
}

.footer {
  color: var(--primary-color);
  font-size: 14px;
}
.footer p {
  padding: 12px 2.5rem;
}
